body
{
    background-image: url(https://github.com/KirillSh22/HTML_Labs/blob/master/wood_picture.jpg?raw=true);
    background-color: yellow;
    background-repeat: no-repeat;
    background-attachment: scroll;
    color: red;
}

